.git
node_modules
src
.vscode-test
**/*.test.ts
tsconfig.json
.vscodeignore
.gitignore
*.map
webview-ui/node_modules
webview-ui/src
webview-ui/*.html
webview-ui/package.json
webview-ui/tsconfig.json
webview-ui/vite.config.ts
docs
.mocharc.json
pnpm-lock.yaml
pnpm-workspace.yaml
